.background-container {
  background-image: url("../assets/images/book-table-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.booking-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 2rem;
  max-width: 60dvw;
  max-height: 60dvh;
  overflow: auto;
  background: #000;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid #ff0000;
}

.booking-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0;
}

.search-info {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1rem;
}

.available-sittings {
  margin-bottom: -3.5rem;
  margin-top: -0.2rem;
}

select {
  margin-bottom: -3rem;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

input[type="date"],
select {
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  height: auto;
  margin-bottom: 0;
}

input[type="date"]:hover,
select:hover {
  border: 1px solid #b21717;
}

label {
  font-size: 1.2rem;
}

.search-button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
  align-self: center;
  cursor: pointer;
}

.continue-button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: white;
  margin-top: -1rem;
}

.booking-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.booking-popup-content {
  background-color: rgb(41, 40, 40);
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  overflow: auto;
  z-index: 1000;
  position: relative;
  display: block;
}

.popup-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.popup-subtitle {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.7rem;
  margin-top: 0;
}

.popup-text {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0;
}

.popup-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.confirm-button,
.cancel-button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: white;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

input {
  margin-bottom: 1rem;
  border: 1px solid #ff0000;
  height: 2rem;
  border-radius: 10px;
  width: 45%;
}

.name-input {
  width: 99%;
  margin-bottom: 0;
}

.email-phone-container,
.button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 0;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 701px) {
  .search-form {
    flex-direction: column;
    justify-content: center;
  }

  .booking-popup-content {
    margin: 1.5rem;
  }
}
